# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.db

# Environment variables
.env
.env.*

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Cache
*.cache


